.container {
    text-align:center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.projectTitle {
    word-break: break-all;
    white-space: normal;
}

.projectActionButton {
    margin: 2rem 0 0 0;
    text-decoration: underline;
}

.guidelineButton {
    margin: 2rem 0 0 0;
    text-decoration: underline;
}


.dialogContainer {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: #0F0E0E;
}

.warningText {
    margin-top: 1rem;
}

@media screen and (min-width: 576px) {
    
    .warningText {
        margin-top: 2rem;
    }
  
  }
 