.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.join {

}

.create {
  margin-bottom: 1rem;
}

.joincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  margin-top: 1rem;
  flex: 1;
}

.table {
  /* min-height: 100vh; */

  width:85%;
  margin: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(0 0 0.2rem black); 
  overflow: hidden;
}